<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>

<ul>
    <li th:each="embeddedSystem : ${embeddedSystems}">
        <th:block th:text="${embeddedSystem.toString()} ">
        </th:block>
    </li>
</ul>
<script type="text/javascript" src="stream.js"></script>

<label id="USSLabel"></label>

<form method="post" action="/clearAlert">
    <input type="submit" value="Clear alert."/>
</form>

<br><br>

<form method="post" action="/moveServoMotor">
    <input type="submit" value="<=" name="direction"> <input type="submit" value="=>" name="direction">
    <label id="servoLabel"><th:block th:text="${servoCurrentDegree}"/></label>
</form>

<label id="infLabel"></label>
<br>
<input type="button" value="Start live stream." onclick="enableVideo()" id="img_bttn">
<br>
<img src="" alt="Smiley face" id="img">


</body>
</html>